@model EditMapViewModel

<div class="modal" tabindex="-1" role="dialog" id="share">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Partage et export
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>Lien pour l'accès en lecture seule</p>

                <div class="input-group mb-3">
                    <input id="link-ro" class="form-control" type="text" readonly="readonly" value="@Url.Action("ViewMap", "Home", new { id = Model.Access.TacMap.TacMapID, t = Model.Access.TacMap.ReadOnlyToken }, Context.Request.Scheme)" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-copy" type="button" data-copy="link-ro">Copier</button>
                    </div>
                </div>

                <p>Lien pour l'accès en lecture et écriture</p>

                <div class="input-group mb-3">
                    <input id="link-rw" class="form-control" type="text" readonly="readonly" value="@Url.Action("EditMap","Home", new { id = Model.Access.TacMap.TacMapID, t = Model.Access.TacMap.ReadWriteToken }, Context.Request.Scheme)" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-copy" type="button" data-copy="link-rw">Copier</button>
                    </div>
                </div>

                <p>Exporter</p>

                <p><a class="btn btn-outline-secondary" asp-controller="TacMaps" asp-action="Export" asp-route-id="@Model.Access.TacMap.TacMapID" target="_blank">Export vers Arma3</a></p>

            </div>
        </div>
    </div>
</div>

<h1 class="h3 text-center">@Model.Access.TacMap.Label <a asp-controller="TacMaps" asp-action="Edit" asp-route-id="@Model.Access.TacMapID" class="btn btn-sm btn-outline-secondary">Modifier</a></h1>

@await Component.InvokeAsync("LiveMap", new { mapId = Model.MapId, worldName = Model.Access.TacMap.WorldName, isReadonly = false })