@model EditMapViewModel
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Model.Access.TacMap.Label;
    ViewData["og:image"] = Url.Action("ViewMapScreenShot", "Home", new { id = Model.Access.TacMapID, t = Model.Access.TacMap.ReadOnlyToken, size = 256 }, "https");
}
<div class="modal" tabindex="-1" role="dialog" id="share">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Localizer["Sharing and export"]
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>@Localizer["Link for read only access"]</p>

                <div class="input-group mb-3">
                    <input id="link-ro" class="form-control" type="text" readonly="readonly" value="@Url.Action("ViewMap", "Home", new { id = Model.Access.TacMap.TacMapID, t = Model.Access.TacMap.ReadOnlyToken }, Context.Request.Scheme)" />
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-copy" type="button" data-copy="link-ro">@Localizer["Copy"]</button>
                    </div>
                </div>

                <p>@Localizer["Link for read and write access"]</p>

                <div class="input-group mb-3">
                    <input id="link-rw" class="form-control" type="text" readonly="readonly" value="@Url.Action("EditMap","Home", new { id = Model.Access.TacMap.TacMapID, t = Model.Access.TacMap.ReadWriteToken }, Context.Request.Scheme)" />
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-copy" type="button" data-copy="link-rw">@Localizer["Copy"]</button>
                    </div>
                </div>

                <p>@Localizer["Export"]</p>

                <p><a class="btn btn-secondary" asp-controller="TacMaps" asp-action="Export" asp-route-id="@Model.Access.TacMap.TacMapID" target="_blank">@Localizer["Export to Arma3"]</a></p>

            </div>
        </div>
    </div>
</div>


@if (Model.Friendly.Any() || Model.Hostile.Any())
{
    <div class="modal" tabindex="-1" role="dialog" id="orbat">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span id="orbat-grid"></span>
                        : @Localizer["Insert a symbol from ORBAT"]
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <ul class="nav nav-tabs mb-2">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">@Localizer["Friendly"]</a>
                        </li>
                    </ul>

                    @foreach (var item in Model.Friendly)
                    {
                        <button class="btn btn-outline-success orbat-btn" data-milsymbol="@item.GetNatoSymbol('3')" data-unique-designation="@item.UniqueDesignation">
                            <img src="@item.NatoSymbolFriendlyImageBase64" alt="@item.GetNatoSymbol('3')" />
                        </button>
                    }

                    <ul class="nav nav-tabs mt-2 mb-2" id="orbat-eni" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="orbat-eni-0-label" data-toggle="tab" href="#orbat-eni-0" role="tab" aria-controls="orbat-eni-0" aria-selected="true">@Localizer["Hostile"] - @Localizer["Present"]</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="orbat-eni-1-label" data-toggle="tab" href="#orbat-eni-1" role="tab" aria-controls="orbat-eni-1" aria-selected="false">@Localizer["Hostile"] - @Localizer["Anticiped/Supect"]</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane show active" id="orbat-eni-0" role="tabpanel" aria-labelledby="orbat-eni-0-label">
                            @foreach (var item in Model.Hostile)
                            {
                                <button class="btn btn-outline-success orbat-btn" data-milsymbol="@item.GetNatoSymbol('6')" data-unique-designation="@item.UniqueDesignation">
                                    <img src="@item.NatoSymbolHostileImageBase64" alt="@item.GetNatoSymbol('6')" />
                                </button>
                            }
                        </div>
                        <div class="tab-pane" id="orbat-eni-1" role="tabpanel" aria-labelledby="orbat-eni-1-label">

                            @foreach (var item in Model.Hostile)
                            {
                                <button class="btn btn-outline-success orbat-btn" data-milsymbol="@item.GetNatoSymbol('6','1')" data-unique-designation="@item.UniqueDesignation">
                                    <img src="@item.NatoSymbolHostileAssumedImageBase64" alt="@item.GetNatoSymbol('6','1')" />
                                </button>
                            }
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                    @if (Model.Access.TacMap.OwnerUserID == Model.Access.UserID)
                    {
                        <a asp-controller="TacMaps" asp-action="Edit" asp-route-id="@Model.Access.TacMapID" class="btn btn-secondary float-right">@Localizer["Configure ORBAT"]</a>
                    }
                    <button type="button" class="btn btn-primary" id="orbat-custom">@Localizer["Insert an other symbol"]</button>
                </div>
            </div>
        </div>
    </div>
}


<h1 class="h3 text-center">
    @Model.Access.TacMap.Label
    @if (Model.Access.TacMap.OwnerUserID == Model.Access.UserID)
    {
        <a asp-controller="TacMaps" asp-action="Edit" asp-route-id="@Model.Access.TacMapID" class="btn btn-sm btn-secondary">@Localizer["Edit"]</a>
    }
    <a asp-controller="TacMaps" asp-action="Clone" asp-route-id="@Model.Access.TacMapID" class="btn btn-sm btn-secondary"><i class="far fa-clone"></i> @Localizer["Create a copy"]</a>
    @if (Model.Access.TacMap.EventHref != null)
    {
        <a href="@Model.Access.TacMap.EventHref.AbsoluteUri" class="btn btn-sm btn-secondary"><i class="fas fa-external-link-alt"></i> @Localizer["Return to {0}", Model.Access.TacMap.EventHref.Host]</a>
    }
</h1>

@await Component.InvokeAsync("LiveMap", new { mapId = Model.MapId, worldName = Model.Access.TacMap.WorldName, isReadonly = false })