@model IndexViewModel
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = "PLANOPS Maps";
}
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <h2>@Localizer["Create tactical map"]</h2>

            <div class="row justify-content-center">
                @foreach (var map in Model.Maps)
                {
                    <a class="btn btn-outline-secondary m-2" asp-action="CreateMap" asp-route-id="@map.worldName">
                        <div class="card">
                            <img class="card-img" src="@("https://jetelain.github.io/Arma3Map" + map.tilePattern.Replace("{x}", "0").Replace("{y}", "0").Replace("{z}", "0"))" width="128" height="128" style="width:128px; height:128px;" />
                            <div class="card-img-overlay d-flex p-0">
                                <p class="text-dark align-self-center mx-auto btn-image-text">@map.title</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
        <div class="col-md-6">
            <h2>@Localizer["Existing tactical maps"]</h2>
            @if (Model.TacMaps.Count == 0)
            {
                <p>@Localizer["You have no existing tactical map."]</p>
            }
            else
            {
                foreach (var map in Model.TacMaps)
                {
                    var action = map.CanWrite ? "EditMap" : "ViewMap";
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-2">
                                <a asp-action="@action" asp-route-id="@map.TacMapID">
                                    <img class="card-img" src="@("https://jetelain.github.io/Arma3Map" + map.TacMap.MapInfos.tilePattern.Replace("{x}", "0").Replace("{y}", "0").Replace("{z}", "0")) " />
                                </a>
                            </div>
                            <div class="col-10">
                                <div class="card-body pt-2 pb-2">
                                    <h5 class="card-title">
                                        <a asp-action="@action" asp-route-id="@map.TacMapID">@map.TacMap.Label</a>
                                        <span class="small">
                                            @map.TacMap.MapInfos.title
                                            @if (map.TacMap.OwnerUserID != map.UserID)
                                            {
                                                <br /> @Localizer["shared by {0}", @map.TacMap.Owner.UserLabel]
                                   }
                                            </span>
                                    </h5>
                                    <a asp-action="@action" asp-route-id="@map.TacMapID" class="btn btn-sm btn-outline-secondary">@Localizer["Display"]</a>
                                    @if (map.TacMap.OwnerUserID == map.UserID)
                                    {
                                        <a asp-controller="TacMaps" asp-action="Edit" asp-route-id="@map.TacMapID" class="btn btn-sm btn-outline-secondary">@Localizer["Edit"]</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <p><a class="btn btn-sm btn-outline-secondary" asp-controller="TacMaps" asp-action="Index">@Localizer["See full list"]</a></p>
            }
        </div>
    </div>

</div>