@model Arma3TacMapWebApp.Entities.ReplayMap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReplayMap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadOnlyToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadOnlyToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TacMap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TacMap.Label)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReplayMapID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
