@model Arma3TacMapWebApp.Models.ExportViewModel
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = "Exporter une carte tactique";
}

<div class="container">
    <h1 class="text-center">@Localizer["Tactical map"]</h1>
    <p class="text-center">
        <a class="btn btn-primary" asp-controller="Home" asp-action="EditMap" asp-route-id="@Model.TacMap.TacMapID">@Localizer["Display map"]</a>
        @if (Model.TacMap.OwnerUserID == Model.Access.UserID)
        {
            <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.TacMap.TacMapID">@Localizer["Edit"]</a>
        }
    </p>

    <h2 class="mt-5">@Localizer["Export to Arma3 with Metis Marker"]</h2>
    <p>@Localizer["Best export, but required the <a href=\"{0}\">Metis Marker</a> mod.", "https://steamcommunity.com/sharedfiles/filedetails/?id=1508091616"]</p>
    <p><button class="btn btn-secondary btn-copy" type="button" data-copy="script">@Localizer["Copy"]</button></p>
    <div class="input-group">
        <textarea id="script" class="form-control" rows="10" readonly="readonly">@Model.Script</textarea>
    </div>

    <h2 class="mt-5">@Localizer["Export to Image"]</h2>
    <p>@Localizer["Images can be used on a web page, a document, or can be used as a texture in Arma 3."]</p>
    <ul>
        @foreach (var size in Arma3TacMapWebApp.Maps.MapPreviewService.ValidSizes)
        {
            var uri = Url.Action("ViewMapScreenShot", "Home", new { id = Model.Access.TacMapID, t = Model.TacMap.ReadOnlyToken, size = size }, "https");
            <li>@size x @size : <a href="@uri">@uri</a></li>
        }
    </ul>

</div>
