@model Arma3TacMapWebApp.Models.ExportViewModel
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = "Exporter une carte tactique";
}
@section Styles {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
}

<div class="container">
    <h1 class="text-center">@Localizer["Tactical map"]</h1>
    <p class="text-center">
        <a class="btn btn-primary" asp-controller="Home" asp-action="EditMap" asp-route-id="@Model.TacMap.TacMapID">@Localizer["Display map"]</a>
        @if (Model.TacMap.OwnerUserID == Model.Access.UserID)
        {
            <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.TacMap.TacMapID">@Localizer["Edit"]</a>
        }
    </p>

    <h2 class="mt-5">@Localizer["Export to Arma3 with Metis Marker"]</h2>
    <p>@Localizer["Best export, but required the <a href=\"{0}\">Metis Marker</a> mod.", "https://steamcommunity.com/sharedfiles/filedetails/?id=1508091616"]</p>
    <p><button class="btn btn-secondary btn-copy" type="button" data-copy="script">@Localizer["Copy"]</button></p>
    <div class="input-group">
        <textarea id="script" class="form-control" rows="10" readonly="readonly">@Model.Script</textarea>
    </div>

    <h2 class="mt-5">@Localizer["Real time export to Arma3 with SIT 1erGTD"]</h2>
    <p>@Localizer["Export in real time data to Arma 3 with <a href=\"{0}\">SIT 1erGTD</a> and <a href=\"{1}\">Metis Marker</a> mods.", "https://steamcommunity.com/workshop/filedetails/?id=2262009445", "https://steamcommunity.com/sharedfiles/filedetails/?id=1508091616"]</p>
    <p>@Localizer["By default map is user specific, an administrator can share the map with all users using the chat command <code>#tacmap global</code>."]</p>
    <p>@Localizer["On your connected mobile device, click on menu icon <i class=\"fas fa-bars\"></i>, then on \"Load from {0}\", and then select map.", "maps.plan-ops.fr"]</p>

    <h2 class="mt-5">@Localizer["Export to Image"]</h2>
    <p>@Localizer["Images can be used on a web page, a document, or can be used as a texture in Arma 3."]</p>
    <ul>
        @foreach (var size in Arma3TacMapWebApp.Maps.MapPreviewService.ValidSizes)
        {
            var uri = Url.Action("ViewMapScreenShot", "Home", new { id = Model.Access.TacMapID, t = Model.TacMap.ReadOnlyToken, size = size }, "https");
            <li>@size x @size : <a href="@uri">@uri</a></li>
        }
    </ul>

    <h2 class="mt-5">@Localizer["Export as ready-to-use texture"]</h2>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ExportTexture" asp-route-id="@Model.Access.TacMapID">
                <div class="form-group">
                    <label for="size" class="control-label">@Localizer["Quality"]</label>
                    <select name="size" class="form-control">
                        <option value="1024" selected="selected">1024x1024 (JPEG ~200 Ko)</option>
                        <option value="2048">2048x2048 (JPEG ~800 Ko)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="format" class="control-label">@Localizer["Format"]</label>
                    <select name="format" class="form-control">
                        <option value="WhiteBoard">@Localizer["Map board (Land_MapBoard_F, Land_MapBoard_01_Wall_F)"]</option>
                        <option value="LargeScreen">@Localizer["Large screen (Land_TripodScreen_01_large_F)"]</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="@Localizer["Generate texture"]" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <h2 class="mt-5">@Localizer["Embedded in a Web page"]</h2>
    <p>Display a real-time full featured map on your web site.</p>
    @{
        var embedded = Url.Action("ViewMapFullLive", "Home", new { id = Model.Access.TacMapID, t = Model.TacMap.ReadOnlyToken }, "https");
    }
    @*<h3>Code</h3>*@
    <code>
        &lt;iframe src="@embedded" style="width:100%;height:80vh;border:0;" /&gt;
    </code>

    @*<h3>Preview</h3>
    <iframe src="@embedded" style="width:100%;height:80vh;border:0;" />*@

</div>
