@model Arma3TacMapWebApp.Entities.TacMap
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Forget a tactical map"];
}
<div class="container">
    <h1>@Localizer["Forget a tactical map"]</h1>

    <h3>@Localizer["Are you sure you want to forget this tactical map?"]</h3>

    <p>@Localizer["Map will be only removed from your list, it will remain available for its owner."]</p>

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Owner)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Owner.UserLabel)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Created)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Label)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Label)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WorldName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WorldName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GameName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GameName)
            </dd>
        </dl>

        <form asp-action="Forget">
            <input type="hidden" asp-for="TacMapID" />
            <input type="submit" value="@Localizer["Forget"]" class="btn btn-danger" />
        </form>
    </div>
</div>