@model AltasMapViewModel
@inject IHtmlLocalizer<SharedResource> Localizer
<h1 class="h3 text-center">
    @Model.MapInfos.title

    @if (!string.IsNullOrEmpty(Model.MapInfos.dlc))
    {
        <a href="@Model.MapInfos.dlc" class="btn btn-sm btn-secondary"><i class="fab fa-steam"></i> DLC</a>
    }
    @if (!string.IsNullOrEmpty(Model.MapInfos.steamWorkshop))
    {
        <a href="@Model.MapInfos.steamWorkshop" class="btn btn-sm btn-secondary"><i class="fab fa-steam"></i> Steam Workshop</a>
    }

    <a asp-controller="TacMaps" asp-action="Create" asp-route-worldName="@Model.MapInfos.worldName" class="btn btn-sm btn-outline-secondary">@Localizer["Create tactical map"]</a>

</h1>

@{await Html.RenderPartialAsync("_StaticMap", Model.InitStaticMap);}

@section Scripts {
    @{await Html.RenderPartialAsync("_MapScripts", Model.InitStaticMap);}
}
@section Styles {
    @{await Html.RenderPartialAsync("_MapStyles", Model.InitStaticMap);}
}
