@model List<Arma3TacMapLibrary.Arma3.MapInfos>
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = "Atlas";
}
@section Styles {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
}

<div class="container">

    <h2>@Localizer["Maps"]</h2>

    <div class="row row-cols-1 row-cols-md-4">
        @foreach (var map in Model.OrderBy(m => m.title))
        {
            <div class="col p-2">
                <div class="card h-100">
                    <a asp-action="Details" asp-route-id="@map.worldName">
                        <img src="img/transparent.png" class="card-img-top" height="150" style="background-image:url(@map.preview); background-position: 50% 50%; background-size: cover;" />
                    </a>
                    <div class="card-body">
                        <h2 class="card-title h5">
                            <a asp-controller="Events" asp-action="Details" asp-route-id="@map.worldName">@map.title</a>
                            <span class="small">
                                @Localizer["{0}x{0}km, {1} cities", Math.Round(map.worldSize / 1000.0), map.cities.Count]
                            </span>
                        </h2>
                        @if (!string.IsNullOrEmpty(map.dlc))
                        {
                            <a href="@map.dlc" class="btn btn-sm btn-secondary"><i class="fab fa-steam"></i> DLC</a>
                        }
                        @if (!string.IsNullOrEmpty(map.steamWorkshop))
                        {
                            <a href="@map.steamWorkshop" class="btn btn-sm btn-secondary"><i class="fab fa-steam"></i> Steam Workshop</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    @{
        var cities = Model.SelectMany(map => map.cities.Select(city => new { city, map })).ToList();
    }

    <h2 class="mt-4">@Localizer["Cities"]</h2>
    <div class="row row-cols-1 row-cols-md-5">
        @foreach (var city in cities.OrderBy(c => c.city.name))
        {
<a class="col" asp-action="Details" asp-route-id="@city.map.worldName" asp-route-x="@Math.Round(city.city.x)" asp-route-y="@Math.Round(city.city.y)">@city.city.name</a>
        }
    </div>
</div>