@model Arma3TacMapWebApp.Entities.MessageTemplate
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Model.Title;
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Details" asp-route-id="@Model.MessageTemplateID">@Model.Title</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Localizer["Export"]</li>
        </ol>
    </nav>

    <h2 class="mt-3">@Localizer["Link for read only access"]</h2>
    <div class="input-group">
        <input id="link-ro" class="form-control" type="text" readonly="readonly" value="@Url.Action("Details", "MessageTemplates", new { id = Model.MessageTemplateID, t = Model.Token }, Context.Request.Scheme)" />
        <div class="input-group-append">
            <button class="btn btn-secondary btn-copy" type="button" data-copy="link-ro">@Localizer["Copy"]</button>
        </div>
    </div>

    <h2 class="mt-3">@Localizer["Export to Arma3 with cTab"]</h2>
    <p><button class="btn btn-secondary btn-copy" type="button" data-copy="script">@Localizer["Copy"]</button></p>
    <div class="input-group">
        <textarea id="script" class="form-control" rows="10" readonly="readonly">@ViewBag.Script</textarea>
    </div>

    <h2 class="mt-3">@Localizer["Export to JSON"]</h2>
    <p><button class="btn btn-secondary btn-copy" type="button" data-copy="json">@Localizer["Copy"]</button></p>
    <div class="input-group">
        <textarea id="json" class="form-control" rows="10" readonly="readonly">@Json.Serialize(new
                {
                    id = Context.Request.Host + "#" + Model.MessageTemplateID,
                    lines = Model.Lines,
                    title = Model.Title,
                    description = Model.Description,
                    type = Model.Type,
                    href = Url.Action("Details", "MessageTemplates", new { id = Model.MessageTemplateID, t = Model.Token }, Context.Request.Scheme)
                })</textarea>
    </div>

</div>
