@model Arma3TacMapWebApp.Entities.OrbatUnit
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Create an unit"];
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Orbats" asp-action="Details" asp-route-id="@Model.OrbatID">@Model.Orbat.Label</a></li>
            @*<li class="breadcrumb-item active" aria-current="page">@Localizer["Edit an unit"]</li>*@
        </ol>
    </nav>
    <h1>@Localizer["Create an unit"]</h1>
    <div class="row">
        <div class="col-md-10">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @{await Html.RenderPartialAsync("_Form");}
                <div class="form-group">
                    <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/orbatUnitPage.js" asp-append-version="true"></script>
}
