@inject IHtmlLocalizer<SharedResource> Localizer
<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PLANOPS Maps</title>
@if (!string.IsNullOrEmpty(ViewData["og:image"] as string))
{
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:image" content="@ViewData["og:image"]" />
}
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="mr-3" href="https://www.1ergtd-reality.fr/"><img src="https://www.1ergtd-reality.fr/files/logos/insigne_gtd.png" width="32" /></a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PLANOPS Maps</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TacMaps" asp-action="Index">@Localizer["Maps"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Atlas" asp-action="Index">@Localizer["Atlas"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://github.com/jetelain/Arma3TacMap/wiki" target="_blank">@Localizer["Help"]</a>
                        </li>
                    </ul>

                    <form class="form-inline">
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <span class="mr-sm-2" style="font-size:80%">@User.Identity.Name</span>
                            <a asp-controller="Authentication" asp-action="SignOut" class="btn btn-sm btn-secondary" title="@User.Identity.Name">
                                @Localizer["Disconnect"]
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Authentication" asp-action="SignIn" class="btn btn-sm btn-secondary">@Localizer["Connect"]</a>
                        }
                    </form>
                </div>
            </div>
        </nav>
    </header>
    @*<div class="container">*@
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    @*</div>*@

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - maps.plan-ops.fr - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy"]</a> -
            <a href="https://www.1ergtd-reality.fr/" target="_blank">@Localizer["Provided by the 1er GTD"]</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
